<h2>Edit <%= @store.name %></h2>
<br>
<table class="table">
  <% @store.brands.each do |brand|%>
  <tr>
    <td><%= brand.shoe_name %></td>
    <td><%= brand.price %></td>
  </tr>
  <% end %>
</table>
<br>
<form action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Rename your store title:</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit">Update Project</button>
</form>
<br>
<form action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>
<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-danger" name="clear_btn">Home</button>
</form>
